.institucional_texto_1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    top: 95px;
    left: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.imagen-afa{
    text-align: center;
    height: 240px;
    border: 0px;
    margin:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}