/* Etiquetas */
body {
  margin: 0;
  font-family: fuente;
  font-size: 16px;
  color: #ffffff;
  text-shadow: #000000 01px 01px;
}

a {
  margin: 0;
  text-decoration: none;
  color: #f1c40f;
}

a:hover {
  text-decoration: underline #64b0ff;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #f1c40f;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  margin: 0;
  float: left;
  list-style: none;
}

li a {
  color: #ffffff;
}

li a:hover {
  color: #f1c40f;
  text-decoration: none;
}

button {
  color: #ffffff;
  background-color: #64b0ff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #ea9e22;
  cursor: pointer;
}

input {
  position: relative;
  font-family: fuente;
  font-size: 16px;
  text-shadow: #000000 01px 01px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #155fd9;
  border: 2px solid #64b0ff;
  width: 200px;
  margin-left: 8px;
}

::placeholder {
  color: #b8b8b8;
}

select {
  position: relative;
  font-family: fuente;
  font-size: 16px;
  text-shadow: #000000 01px 01px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #155fd9;
  border: 2px solid #64b0ff;
  width: 200px;
  margin-left: 8px;
}

fieldset{
  border: none;
}

table {
  margin-top: 2rem;
}

th {
  position: relative;
  padding: 4px;
  font-family: fuente;
  font-weight: normal;
  color: #f1c40f;
  border: 2px solid #64b0ff;
  border-radius: 2px;
}

td {
  position: relative;
  padding: 4px;
  font-family: fuente;
  border: 2px solid #64b0ff;
  border-radius: 2px;
}

/* Etiquetas */

/* Cuadriculas */
.grid_cuardicula {
  min-height: 100vh;
  min-width: 150vh;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 10vh 100% 10vh;
  grid-template-areas:
    "nav"
    "section"
    "footer";
}

.grid_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid_contenedor {
  position: relative;
  flex-basis: 50px;
  flex-grow: 1;
}

.nav {
  grid-area: nav;
  background-color: #002a88;
  border-bottom: 6px double #155fd9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  grid-area: section;
  background-color: #155fd9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background-color: #002a88;
  border-top: 6px double #155fd9;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Etiquetas */

.menu li {
  margin-left: 40px;
}

/* Inicio */
.inicio_noticia {
  margin-bottom: 20px;
}
.inicio_noticia img{
  border: 2px solid #64b0ff;
  border-radius: 10px;
}
/* Inicio */

/* Institucional */
.institucional_texto_1 li {
  background-color: #64b0ff;
  border: 6px double #155fd9;
  border-radius: 10px;
  padding: 10px;
}

.institucional_imagenes img{
  height: 240px;
  margin-top: 50px;
  margin-left:20px;
  border: 2px solid #64b0ff;
  border-radius: 10px;
}
/* Institucional */

/* Botones */
.contacto_celda{
  margin-bottom: 8px
}

.boton_1 {
  margin: 0;
  margin-right: 4px;
}

.boton_2 {
  margin: 0;
  margin-bottom: 2rem;
}

.boton_3 {
  margin: 0;
  margin-right: 4px;
  margin-bottom: 4px;
}
/* Botones */

@font-face {
  font-family: fuente;
  src: url("fuentes/ComicNeue-Regular.ttf");
}