body {
  font-family: fuente;
  font-size: 16px;
  color: #dbdee1;
  background-color: #383a40;
  margin: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: #949ba4;
}

h1 {
  font-weight: normal;
  font-size: 16px;
  color: #f1c40f;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  float: left;
  list-style: none;
  margin-left: 40px;
}

li a:hover {
  color: #dbdee1;
}

td {
  position: relative;
  background-color: #2b2d31;
  border: 2px solid #515359;
  border-radius: 2px;
}

button {
  font-size: 16px;
  color: #ffffff;
  background-color: #3098db;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #f1c40f;
  cursor: pointer;
}

input {
  position: relative;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #949ba4;
  background-color: #515359;
}

::placeholder {
  color: #949ba4;
}

select {
  position: relative;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: fuente_2;
  font-size: 16px;
  color: #515359;
  background-color: #dbdee1;
}

select:hover {
  cursor: pointer;
}


fieldset{
  border: none;
}

button {
  font-size: 16px;
  color: #ffffff;
  background-color: #3098db;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #f1c40f;
  cursor: pointer;
}

.grid {
  min-height: 100vh;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "nav"
    "section"
    "footer";
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_contenedor {
  position: relative;
  flex-basis: 100px;
  flex-grow: 1;
}

.nav {
  grid-area: nav;
  background-color: #232428;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  grid-area: section;
  background-color: #383a40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background-color: #232428;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio_noticias {
  height: 400px;
  overflow-y: auto;
}

.contacto_celda{
  display: flex;
  margin-bottom: 1rem;
  width: 50%;
  gap: 10px;
}

.contacto_boton {
  margin-bottom: 4rem;
}

@font-face {
  font-family: fuente;
  src: url("fuentes/ComicNeue-Regular.ttf");
}